<h1><%= link_to(@character.name, @character) %>'s inventory</h1>
<div class='flex-row'>
<ul class='no-dots'>
  <li class='bold'>Weapons</li>
<% @inventory.weapons_and_joins.each do |weapon| %>
  <li class='flex-row'> <%= link_to weapon[0].name, weapon[0] %>
    <% if current_user == @character.creator %>
      <%= form_for [@character, @equipped_weapon] do |f| %>
        <%= hidden_field_tag :weapon_id, weapon[0].id %>
        <%= f.submit 'equip', disabled: @character.equipped_weapons.include?(weapon[0]) %>
      <% end %>
      <%= form_for weapon[1], method: 'delete' do |f| %>
        <%= f.submit 'remove from inventory', disabled: @character.equipped_weapons.include?(weapon[0]) %>
      <% end %>
    <% end %>

  </li>
<% end %>
</ul>
<ul class='no-dots'>
  <li class='bold'>Armor</li>
  <% @inventory.armors_and_joins.each do |armor| %>
    <li class='flex-row'> <%= link_to armor[0].name, armor[0] %>
      <% if current_user == @character.creator %>
        <%= form_for @character do |f| %>
          <%= hidden_field_tag :armor_id, armor[0].id %>
          <%= f.submit 'equip', disabled: @character.equipped_armor ? @character.equipped_armor.id == armor[0].id : false %>
        <% end %>
        <%= form_for ObtainedArmor.find_by(inventory_id: @inventory.id, armor_id: armor[0].id), method: :delete do |f| %>
          <%= f.submit 'remove from inventory', disabled: @character.equipped_armor == armor[0] %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
<ul class='no-dots'>
  <li class='bold'>Equipped items:</li>
  <li class='flex-row'>Weapon:
    <% if @weapon %>
      <%= link_to(@weapon.name, @weapon) %>
      <% if current_user == @character.creator %>
      <%= form_for([@character, @character.equipped_w.find_by(weapon_id: @weapon.id)], method: 'DELETE') do |f| %>
        <%= f.submit 'unequip' %>
      <% end %>
      <% end %>
    <% else %>
      no weapons equipped
    <% end %>
  </li>
  <li class='flex-row'>Shield:
    <% if @shield %>
      <%= link_to(@shield.name, @shield) %>
      <% if current_user == @character.creator %>
      <%= form_for([@character, @character.equipped_w.find_by(weapon_id: @shield.id)], method: 'DELETE') do |f| %>
        <%= hidden_field_tag :shield, true %>
        <%= f.submit 'unequip' %>
      <% end %>
      <% end %>
    <% else %>
      no shield equipped
    <% end %>
    </li>
  <li class='flex-row'>Armor:
    <% if @armor %>
      <%= link_to(@armor.name, @armor) %>
      <% if current_user == @character.creator %>
      <%= form_for(@character) do |f| %>
        <%= hidden_field_tag :armor_id, @armor.id %>
        <%= hidden_field_tag :unequip, true %>
        <%= f.submit 'unequip' %>
      <% end %>
      <% end %>
    <% else %>
      no armor equipped
    <% end %>
    </li>
</ul>
</div>
