<h1><%= link_to(@character.name, @character) %>'s inventory</h1>
<div class='flex-row'>
<ul class='no-dots'>
  <li class='bold'>Weapons</li>
<% @inventory.weapons_and_joins.each do |weapon| %>
  <li class='flex-row'> <%= link_to weapon[0].name, weapon[0] %>
    <% if current_user == @character.creator %>
      <%= form_for [@character, @equipped_weapon] do |f| %>
        <%= hidden_field_tag :weapon_id, weapon[0].id %>
        <%= f.submit 'equip', disabled: @character.equipped_weapons.include?(weapon[0]) %>
      <% end %>
      <%= form_for [@character, weapon[1]], method: 'delete' do |f| %>
        <%= f.submit 'remove from inventory', disabled: @character.equipped_weapons.include?(weapon[0]) %>
      <% end %>
    <% end %>

  </li>
<% end %>
</ul>
<ul class='no-dots'>
  <li class='bold'>Armor</li>
<% @inventory.armors_and_joins.each do |armor| %>
  <li> <%= link_to armor[0].name, armor[0] %>
    <% if current_user == @character.creator %>
      <%= form_for @character do |f| %>
        <%= hidden_field_tag :armor_id, armor[0].id %>
        <%= f.submit 'equip', disabled: @character.equipped_armor ? @character.equipped_armor.id == armor[0].id : false %>
      <% end %>
      <%= form_for @character do |f| %>
        <%= hidden_field_tag :armor_id, armor[0].id %>
        <%= hidden_field_tag :remove, true %>
        <%= f.submit 'remove from inventory', disabled: @character.equipped_armor == armor[0] %>
      <% end %>
    <% end %>
  </li>
<% end %>
</ul>
<ul class='no-dots'>
  <li class='bold'>Equipped items:</li>
  <li>Weapon: <%= @character.equipped_weapons.first ? link_to(@character.equipped_weapons.first.name, @character.equipped_weapons.first) : 'no weapons equipped' %></li>
  <li>Shield: <%= 'fix meeee' %></li>
  <li>Armor: <%= @character.equipped_armor ? link_to(@character.equipped_armor.name, @character.equipped_armor) : 'no armor equipped' %></li>
</ul>
</div>
