<% title "Edit Attack Option" %>
<h1>Edit this attack option for your weapon: <%= @weapon.name %></h1>
<hr>
<%= link_to 'cancel', weapon_path(@weapon) %>

<% end %>
<div>
  <%= render partial: '/errors', locals: {errors: @errors} %>
  <%= form_for [@weapon, @attack_option] do |f| %>
    <%= render partial: 'form' %>
    <%= f.submit "edit this attack option for #{@weapon.name}" %>
  <% end %>
</div>


