<label>Add this weapon to one of your characters' inventories</label>
  <table>
    <tr>
      <th class='table-skill-form'>character</th>
      <th class='table-issues'>status</th>
    </tr>
    <% current_user.characters.each do |character| %>
      <tr>
        <td class='table-skill-form'>
          <%= form_for character.inventory do |f| %>
            <%= hidden_field_tag :weapon_id, @weapon.id %>
            <%= f.submit character.name, disabled: character.weapons.include?(@weapon) %>
          <% end %>
          <%= link_to "#{character.name}'s page", character %>
        </td>
        <td class='table-issues'>
          <%= character.weapons.include?(@weapon) ? "#{character.name} already has this weapon in their inventory" : "Add this weapon to #{character.name}'s inventory" %>
        </td>
      </tr>
    <% end %>
  </table>
