<div class='flex-row center'>
<%= render partial: '/errors', locals: {errors: @errors} %>
<%= render partial: '/errors', locals: {errors: @errors2} %>
</div>

<div class='flex-column center'>

<%= form_for @weapon, html: {class: 'flex-row left', id: nil} do |f| %>
  <div class='flex-column left'>
    <label><span class='bold'>Shield Details:</span></label>
    <%= render partial: 'form', locals: {f: f} %>
    <%= hidden_field_tag :shield, true %>
    <%= f.submit (@weapon.id ? 'Edit shield' :  'Create shield with no attack options') %>
    <%= @weapon.id ? nil : (f.submit 'Create shield and add attack option', name: 'attack_option') %>
  </div>
<% end %>

</div>
