<div class='flex-row center'>
<%= render partial: '/errors', locals: {errors: @errors} %>
<%= render partial: '/errors', locals: {errors: @errors2} %>
</div>

<div class='flex-column center'>

<%= form_for @weapon, html: {class: 'flex-row left', id: nil} do |f| %>
  <div class='flex-column left'>
    <label><span class='bold'>Weapon Details:</span></label>
    <%= render partial: 'form', locals: {f: f} %>
    <div class='flex-row'>
      <%= f.submit (@weapon.id ? 'Edit weapon' :  'Create weapon with no attack options') %>
      <%= @weapon.id ? nil : (f.submit 'Create weapon and add attack option', name: 'attack_option') %>
    </div>
  </div>

<% end %>

</div>
