<% title "New Weapon" %>
<h1>Create a new shield!</h1>
<div class='flex-row center'>
<%= render partial: '/errors', locals: {errors: @errors} %>
<%= render partial: '/errors', locals: {errors: @errors2} %>
</div>

<div class='flex-column center'>

<p>Most shields don't have any attack options beyond a bash (and at some point a punch). However, we don't want to remove the possibility from home-brewed shields (check out the <%= link_to 'lantern shield', 'https://www.google.com/search?q=lantern+shield', target: :_blank%>!). As a compromise, we have pre-filled many of the required fields in this form to the appropriate parameters for a shield bash. Strength and Dexterity bonuses should be left blank (unless you are including a damaging bash or attack).</p>

<%= form_for @weapon, html: {class: 'flex-row left', id: nil} do |f| %>
  <div class='flex-column left half'>
    <label><span class='bold'>Shield Details:</span></label>
    <%= render partial: 'form', locals: {f: f} %>
  </div>
  <%= hidden_field_tag :shield, true %>
  <div class='flex-column left half'>
    <%= render partial: '/attack_options/form' %>
  </div>
    <%= f.submit 'Create Shield' %>
<% end %>

</div>
