<% title @weapon.name %>
<h1><%= @weapon.name %></h1>
<hr>
<% if logged_in? %>
  <%= render partial: '/weapons/obtain_form' %>
<% end %>

<%= render partial: 'show' %>
<% if logged_in? && @weapon.user == current_user %>
  <%= link_to "add #{@weapon.attack_options.empty? ? 'an' : 'another'} attack option", new_weapon_attack_option_path(@weapon) %>
<% end %>


<% if @weapon.user == current_user %>
  <table>
    <tr>
      <td><%= @empty ? 'No characters are currently using this weapon' : "#{@weapon.inventories.length} characters have this weapon in their inventories. You cannot modify it" %></td>
    </tr>
    <tr>
      <td>
        <%= form_for @weapon, method: 'delete' do |f| %>
            <%= f.submit "Delete #{@weapon.name}", disabled: !@empty %>
          <% end %>
      </td>
    </tr>
    <tr>
      <td>
      <%= form_for @weapon, url: (@weapon.weapon_classes.any? {|weapon_class| weapon_class.name.downcase.include?('shield')} ? "/weapons/#{@weapon.id}/edit/shield" : edit_weapon_path(@weapon)), method: 'get' do |f| %>
          <%= f.submit "Edit #{@weapon.name}", disabled: !@empty %>
        <% end %>
    </td>
    </tr>
    <% @attack_options.each do |a_o| %>
      <tr>
        <td>
          <%= form_for [@weapon, a_o], url: edit_weapon_attack_option_path(@weapon, a_o), method: 'get' do |f| %>
            <%= f.submit "Edit #{a_o.name}", disabled: !@empty %>
          <% end %>
        </td>
      </tr>
    <% end %>


  </table>
<% end %>
