<div class='flex-column stat-container side-border primary-stats'>
  <h3>Primary Stats:</h3>
  <div>Strength: <span class='stat'><%= @character.strength %></span></div>
  <div>Dexterity: <span class='stat'><%= @character.dexterity %></span></div>
  <div>Constitution: <span class='stat'><%= @character.constitution %></span></div>
  <div>Intelligence: <span class='stat'><%= @character.intelligence %></span></div>
  <div>Wisdom: <span class='stat'><%= @character.wisdom %></span></div>
  <div>Charisma: <span class='stat'><%= @character.charisma %></span></div>
</div>
