<div class='flex-column stat-container side-border secondary-stats'>
  <h3>Secondary Stats:</h3>
  <div>Active Defense Bonus: <span class='stat'><%= @character.active_defense_bonus %></span></div>
  <div>Active Offense Bonus <span class='stat'><%= @character.active_offense_bonus %></span></div>
  <div>Energy Budget <span class='stat'><%= @character.energy_budget %></span></div>
  <div>Energy Pool <span class='stat'><%= @character.energy_pool %></span></div>
  <div>Hit Points <span class='stat'><%= @character.hit_points %></span></div>
  <div>Move Speed <span class='stat'><%= @character.move_speed %></span></div>
  <div>Skill Points <span class='stat'><%= @character.total_skill_points %></span></div>
</div>
