<div id='stats' class='flex-col'>
  <div class='flex-row'>
    <div class='side-border stat-container left-col name'>
      <span class='header'>Name: </span> <span class='stat'> <%= @character.name %></span>
    </div>
    <div class='side-border stat-container right-col description'>
      <span class='header'>Description: </span> <span class='stat'> <%= @character.description %></span>
    </div>
  </div>
  <div class='flex-row'>
    <div class='left-col side-border'>
      <%= render partial: 'primary_stats' %>
      <%= render partial: 'secondary_stats' %>
      <%= render partial: 'classes' %>
    </div>

    <div class='flex-column stat-container side-border right-col weapons'>
      <%= render partial: 'weapons' %>
    </div>
  </div>

  <div class='flex-row'>
    <div class='flex-column stat-container side-border armor left-col'>
      <%= render partial: 'armor' %>
    </div>

    <div class='flex-column stat-container side-border combat-stats right-col'>
      <%= render partial: 'combat_stats' %>
    </div>
  </div>

  <div class='flex-row'>
    <%= render partial: 'obtained_skills' %>
    <div class='inventory stat-container right-col side-border'>
      <%= render partial: '/inventories/show' %>
    </div>
  </div>

  <%= render partial: 'skill_bonuses' %>
</div>
