<div class='flex-column stat-container side-border skill-descriptions'>
    <h3>Skill bonuses not applied through raw numbers: </h3>
    <div>
      <% @skills_ranks.each do |skill, ranks| %>
        <% if skill.display_description %>
          <div><label> <%= skill.name %>, <%= skill.skillable.name %>, ranks: <%= ranks.ranks %> (<%= skill.passive ? 'passive' : 'active' %>):</label>
            <p>   <%= skill.description %></p></div>
        <% end %>
      <% end %>
    </div>
  </div>
