<% title @weapon_class.name %>
<h1>Weapon Class: <%= @weapon_class.name %></h1>
<hr>
<h2>Description: </h2>
<p>
  <%= @weapon_class.description %>
</p>

<h2>Weapons: </h2>
<ul>
  <% @weapon_class.weapons.each do |weapon| %>
    <li><%= link_to weapon.name, weapon %></li>
  <% end %>
</ul>

<h2>Characters who use <%= @weapon_class.name %>:</h2>
<ul>
  <% @weapon_class.characters.each do |character| %>
    <li><%= link_to character.name, character %></li>
  <% end %>
</ul>

<%= render partial: '/skills/show', locals: {resource: @weapon_class} %>
