<% title "New Armor" %>
<h1>Create a new armor!</h1>
<div class='flex-row center'>
<%= render partial: '/errors', locals: {errors: @errors} %>
</div>

<div class='flex-column center'>

<%= form_for @armor, html: {class: 'flex-row left', id: nil} do |f| %>
  <div class='flex-column left half'>
    <label><span class='bold'>Armor Details:</span></label>
    <div class='form-field'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class='form-field'>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class='form-field'>
      <%= f.label :armor_type %>
      <%= f.select :armor_type_id, options_from_collection_for_select(@armor_types, "id", "name", @armor.armor_type_id) %>
    </div>
    <div class='form-field'>
      <%= f.label :passive_defense_bonus %>
      <%= f.number_field :passive_defense_bonus, class: 'number-field' %>
    </div>
    <div class='form-field'>
      <%= f.label :active_action_reduction %>
      <%= f.number_field :active_action_reduction, class: 'number-field' %>
    </div>
    <div class='form-field'>
      <%= f.label :budget_reduction %>
      <%= f.number_field :budget_reduction, class: 'number-field' %>
    </div>
    <div class='form-field'>
      <%= f.label :energy_pool_reduction %>
      <%= f.number_field :energy_pool_reduction, class: 'number-field' %>
    </div>
    <div class='form-field'>
      <%= f.label :dodge_energy_mod_penalty %>
      <%= f.number_field :dodge_energy_mod_penalty, in: 0..2, step: 0.5, class: 'number-field' %>
    </div>
    <div class='form-field'>
      <%= f.label :dodge_die_size_reduction %>
      <%= f.number_field :dodge_die_size_reduction, in: 0..8, step: 2, class: 'number-field' %>
    </div>
  </div>
  <div class='flex-column left half'>
    <label><span class='bold'>Damage Resistances:</span></label>
    <div class='form-field'>
      <%= label_tag :slashing_DR %>
      <%= number_field_tag 'dr[slashing]', @drs[0], class: 'number-field' %>
    </div>
    <div class='form-field'>
      <%= label_tag :piercing_DR %>
      <%= number_field_tag 'dr[piercing]', @drs[1], class: 'number-field' %>
    </div>
    <div class='form-field'>
      <%= label_tag :bludgeoning_DR %>
      <%= number_field_tag 'dr[bludgeoning]', @drs[2], class: 'number-field' %>
    </div>
    <div class='form-field'>
      <%= label_tag 'Bludgeoning/Slashing DR' %>
      <%= number_field_tag 'dr[bludgeoning_slashing]', @drs[3], class: 'number-field' %>
    </div>    <div class='form-field'>
      <%= label_tag 'Bludgeoning/Piercing DR' %>
      <%= number_field_tag 'dr[bludgeoning_piercing]', @drs[4], class: 'number-field' %>
    </div>
  </div>
    <%= f.submit %>
<% end %>
</div>
