<!DOCTYPE html>
<html>
  <head>
    <title>EmpireApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/nav_bar' %>
  <div id='content'>

    <%= yield %>
  </div>
  <footer>
    <ul class='flex-row no-dots no-pad wrap bottom-nav'>
      <%= render partial: 'navigation/nav' %>
    </ul>
  </footer>
  </body>
</html>
